*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #ffffff;
}

li a{
    text-decoration: none; 
    font-size: 14.77px; 
    font-weight: 100px;
    color: #05073C; 
    padding: 20px;
    font-family: sans-serif

    }
    
    li{
        list-style: none; 
    }
    
    #logo{
    
        height: 32px; 
        width: 167px;
        padding: 20px;

    }
    
    ul{
        display: flex; 
        flex-direction: row; 
    
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .container {
        width: 100%; 
        max-width: 1200px;
        margin: 0 auto; 
        padding: 0 15px; 
      } 

    .banner{
        background-image:url("assetes/Section.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 702.1300048828125px;
        width: 1800px;
        border-radius: 12px;
        display: flex;
        align-items: center;
    }

.texto-banner{
    font-size: 69.73px;
    font-weight: bolder;
    color: #ffffff;
    font-family: sans-serif
}

.caixa-texto-banner{
    width: 3000px;
    padding: 100px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.texto{
    font-size: 14.65pxpx;
    color: #ffffff;
    font-family: sans-serif
}

.barra-pesquisa{
    font-size: 14.77px;
    font-weight: lighter;
    color: #757575;
}

.login{
    font-size: 14.3px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto-login{
width: 83.31px;
height: 44px;
border-radius: 30px;
background-color: #EB662B;
color: #ffffff;
border: none;
}

